
<footer class="footer">
    <section>
        <ul>
            <li><a href="/">Hentaicomics18</a></li>
            <li><a href="mailto:hello@hentaicomics18.xyz">hello@hentaicomics18.xyz</a></li>
            <li><a href="">App Download</a></li>
        </ul>
    </section>
</footer>

</body>
</html>